asgiref==3.11.1
certifi==2026.2.25
cfgv==3.5.0
distlib==0.4.0
dj-database-url==3.1.2
Django==5.2.12
django-cors-headers==4.9.0
django-debug-toolbar==6.2.0
djangorestframework==3.17.1
filelock==3.25.2
gunicorn==25.3.0
identify==2.6.18
iniconfig==2.3.0
isort==8.0.1
nodeenv==1.10.0
packaging==26.0
platformdirs==4.9.4
pluggy==1.6.0
pre_commit==4.5.1
psycopg2-binary==2.9.11
Pygments==2.19.2
pytest==9.0.2
pytest-django==4.12.0
python-decouple==3.8
python-discovery==1.2.1
PyYAML==6.0.3
sentry-sdk==2.57.0
sqlparse==0.5.5
urllib3==2.6.3
virtualenv==21.2.0
whitenoise==6.12.0
